header{
    border: 2px solid brown;
    height: 100px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;

}



#gameBox{
    position: absolute;
    border: 1px solid black;
    font-size: 24px;
    font-weight: bolder;
/* why cant height do percantage value? */
    height: auto;
    width: 25%;
    
}

#hintBox {
    float: right;
    border: 1px solid black;
    width: 73%;
    height: 1028px;
    margin: 10px;
    padding-top: 230px;
    font-size: 35px;
    

}


#displayChosen{

    margin: 70px 0px 0px 150px;
    

}

#scoreBoard{

    text-align: left;
    margin: 0px;
    
    height: 75px;
    width: 80%;
    

}

.scoreKeep{
    
    margin: 40px;
    height: 200px;
    width: 80%;
    font-weight: bolder;
    font-style: italic;
    border-style: ridge;
    
}

span{
    margin-left: 60px;
    letter-spacing: 5px;
    font-size: 70px;
    text-align: center;
}

.shown-letters{
    letter-spacing: 6px;
    padding: 10px;
}


