header{
    border: 2px solid brown;
    height: 100px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;

}



#gameBox{
    position: relative;
    border: 1px solid black;
    font-size: 24px;
    font-weight: bolder;
/* why cant height do percantage value? */
    height: 900px;
    width: 450px;
    
}

#displayChosen{

    margin: 45px;

}

#scoreBoard{

    text-align: left;
    margin: 0px;
    float: left;
    height: 75px;
    width: 80%;
    

}

.scoreKeep{
    
    margin: 40px;
    height: 200px;
    width: 80%;
    font-weight: bolder;
    font-style: italic;
    border-style: ridge;
    
}

span{
    margin-left: 60px;
    letter-spacing: 5px;
    font-size: 70px;
    text-align: center;
}